<!DOCTYPE html>
{% load static %}
<html lang="en">

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial- scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Carga do css -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Titulo da página -->
    <title>My Page</title>
</head>

<body>

    <h1>Welcome to my <img src="{% static 'img/heroku.png' %}" alt="Heroku" width="42" height="42"> first page!</h1>

    <h1>Add Image</h1>

    {% if messages %}
        {% for message in messages.values %}
                <strong>{{ message }}</strong>
        {% endfor %}
    {% endif %}

    <form id="mypage_form" method="post" enctype="multipart/form-data" action="{% url 'mypage:index' %}" >
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="submit" value="Add" />
        <a href="{% url 'myfile:index' %}" title="">  Try add a file</a>
    </form>

    {% if myimages %}
        <h2> Showing to last three included images. </h2>
        <h6> All images have been reduced to 5% of their size. </h6>
        {% for i in myimages %}
            {{i.name}}<br />
            <div>
                <img src="{{ i.image.url }}" alt="{{ course.name }}" width="5%" />
            </div>
            <br>
        {% empty %}
            <p>No Images at moment. Images are deleted after 15 minutes of insertion</p>
        {% endfor %}
        <br /><a href="{% url 'mypage:exclude_images' %}" class="button">"Please click here to clean your images"</a><br />
    {% else %}
        <br /><p>No Images at moment. Images are deleted after 15 minutes of insertion</p><br />
    {% endif %}
</body>
</html>